footer {
    background-color: #DF7E5D;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 80px;
}

.para {
    color: #fff;
    padding: 16px 0;
}

.icupic {
    gap: 3px;
    font-family: "Cookie", cursive !important;
    color: #FFFDD0 !important;
    font-size: 32px;
    text-align: center;
    display: flex;
    height: 37px;
    margin-top: 30px;
}

.ficons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

li a {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
}

li a:hover {
    color: #FFFDD0;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

ul li {
    margin: 15px 0;
}

.bakery h4 {
    font-size: 24px !important;
    color: #fff !important;
    font-family: "Inter", sans-serif !important;
    margin-top: 40px;
}

.bakery p {
    color: #fff;
}

.emailsubscribe {
    width: 100%;
    position: relative;
    margin: auto;
}

.emailsubscribe input[type="email"] {
    background-color: #ffffff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.emailsubscribe input[type="submit"] {
    background-color: #FFFDD0;
    padding: 10px 10px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
    border-radius: 5px;
}

.copy {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .bakery h4 {
        font-size: 20px !important;
    }
}