.hero {
    padding: 60px 0;
}

.herotxt {
    height: 100%;
    padding: 20px 0;
    align-items: center;
    max-width: 442px;
}

.herotxt p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.heropic img {
    width: 100%;
    border-radius: 30px;
}